body{
    font-family: 'Poppins', sans-serif;
}
/*=====Navbar===========*/
.navbar .nav-link{
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 16px !important;
    padding-right: 16px !important;
}

#title{
  color: #000;
}

#navbar li a{
  color:#000;
}

.navbar-toggler{
    outline: none !important;
}
.bg-black{
    background: #ffffff;
}

.dropdown-menu {
  border-radius: 0 px;
  text-align: left;
}

#m1 li a {
  color: black;
}

#navbar a:hover {
  background-color: rgb(202, 196, 196);
  padding: 15px;
}

/*=========Slider Section ============*/
.carousel-item{
    height: 600px;
}
.carousel-image-1{
    background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4)), 
    url('./images/bg.jpg');
    background-size: cover;
}
.carousel-image-2{
    background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4)),
     url('./images/about-bg.jpg');
    background-size: cover;
}

.h-color{
  color:#fff;
  font-weight: bold;
  font-size:xx-large;
}

.btn-color{
    background: #203285;
    color: #fff;
}
.btn-color:hover{
    color: #fff;
}

#titlecarrousel {
  margin-left: 15px;
}
/* Wobble Vertical */
@-webkit-keyframes slide-btn {
    16.65% {
           transform: translateY(8px);
    }
    33.3% {
     transform: translateY(-6px);
    }
    49.95% {
        transform: translateY(4px);
    }
    66.6% {
         transform: translateY(-2px);
    }
    83.25% {
         transform: translateY(1px);
    }
    100% {
        transform: translateY(0);
    }
  }
  @keyframes slide-btn {
    16.65% {
      
      transform: translateY(8px);
    }
    33.3% {
      
      transform: translateY(-6px);
    }
    49.95% {
      
      transform: translateY(4px);
    }
    66.6% {
     
      transform: translateY(-2px);
    }
    83.25% {
     
      transform: translateY(1px);
    }
    100% {
     
      transform: translateY(0);
    }
  }
  .slide-btn {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px #884A39;
  }
  .slide-btn:hover, .slide-btn:focus, .slide-btn:active {
    
    animation-name: slide-btn;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
  }
  /*=========End of Slider=====*/

  /*=======Products section=======*/
  #products{
    background:#ffffff;
  }
  .product-title{
    color: #000000;
  }

  #value1 {
    background: #c25c5c;
  }

  #value2 {
    background: #3b914a;
  }

  #value3 {
    background: #6568f8;
  }

/* Float Shadow */
.single-item {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgb(247, 241, 241);
  position: relative;
  transition-duration: 0.3s;
  transition-property: transform;
  cursor: pointer;
  text-align: center;
  color:#fff;
}
.single-item:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
   background: radial-gradient(ellipse at center, rgba(248, 248, 248, 0.35) 0%, rgba(247, 244, 244, 0) 80%);
   transition-duration: 0.3s;
  transition-property: transform, opacity;
}
.single-item:hover, .single-item:focus, .single-item:active {
    transform: translateY(-5px);
  /* move the element up by 5px */
}
.single-item:hover:before, .single-item:focus:before, .single-item:active:before {
  opacity: 1;
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}
.img-container{
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

/* Grow Shadow */
.img-container{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.img-container:hover, .product-img:focus, .product-img:active {
   box-shadow: 1px 0px 1px 4px rgba(247, 243, 243, 0.932);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
  /*===End of Product Section==========*/

/*Contact us */
.btn-color{
  background: #1d33ff;
  color: #fff;
}

/* Wobble Vertical */
@-webkit-keyframes cont-btn {
  16.65% {
         transform: translateY(8px);
  }
  33.3% {
   transform: translateY(-6px);
  }
  49.95% {
      transform: translateY(4px);
  }
  66.6% {
       transform: translateY(-2px);
  }
  83.25% {
       transform: translateY(1px);
  }
  100% {
      transform: translateY(0);
  }
}
@keyframes cont-btn {
  16.65% {
    
    transform: translateY(8px);
  }
  33.3% {
    
    transform: translateY(-6px);
  }
  49.95% {
    
    transform: translateY(4px);
  }
  66.6% {
   
    transform: translateY(-2px);
  }
  83.25% {
   
    transform: translateY(1px);
  }
  100% {
   
    transform: translateY(0);
  }
}
.cont-btn {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.cont-btn:hover, .cont-btn:focus, .cont-btn:active {
  
  animation-name: slide-btn;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
/*==Footer===*/
.footer{
  background: #000000;
  color: #fff;
}
.fab{
  padding-left: 10px;
}
